.col-sm-6 {
    background: url('/assets/cart5.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    padding: 7%;
    border: 20px groove cadetblue;
    font-family: 'Noto Sans JP', sans-serif;
}

#name125 {
    font-size: 41px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

label {
    font-size: 21px;
    text-align: left;
    font-family: 'Merriweather', serif;
    /* font-family: 'Noto Sans JP', sans-serif; */
}

input {
    border: 1.5px dashed blue;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 11px;
}

#container {
    background: yellowgreen;
}
