<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container" id="cont98">
    <br>
    <h1 id="name123">{{restaurent.restaurentName}} </h1>
    <hr>
    <div id="detail" style="color:greenyellow;">Restaurant Rating : {{restaurent.restaurentRating}} <span class="fa fa-star checked"></span>
        <p> Restaurant Address : {{restaurent.restaurentAdress}}</p>

        <!-- </span> -->
        <!-- </span>
     -->
    </div>
</div>


<div class="container">
    <div>
        <h1 id="serve" style="text-align: center;  margin-top: 24px;  margin-bottom: 30px;   ">Dishes We Serve :</h1>
    </div>

</div>
<!-- </div> -->




<div class="container " align="center ">
    <div class="row " style="flex-wrap: wrap;
    justify-content: space-between;
    display: flex;">
        <div class="col-sm-3 " *ngFor="let dish of dishes " id="dcrd">
            <h4 id="dname"> {{dish.dishName}} </h4><br>
            <p id="dprice"> Rs. {{dish.price}}</p>
            <img id="dimg" src={{dish.imageUrl}} alt={{dish.dishName}} width="100% " height="200 "><br>

            <p id="dabout">About:&nbsp;{{dish.shortDescription}}</p>
            <img id="dvegimg" *ngIf="dish.isVeg " src="assets/Veg_and_non_veg_marks.jpg " width="20 " height="20 " alt=" ">
            <span id="dveg" *ngIf="dish.isVeg ">Veg </span>
            <img id="dnonimg" *ngIf="!dish.isVeg " src="assets/non_veg_marks.jpg " width="20 " height="20 " alt=" ">
            <span id="dnon" *ngIf="!dish.isVeg ">Non-Veg</span>
            <h5 id="ddil"> <span *ngIf="dish.freeDelivery ">Free delivery applicable</span></h5>
            <!-- <h5 id="ddil"> <span *ngIf="dish.freeDelivery ">Free delivery applicable</span></h5> -->
            <button id="dbtn1" *ngIf="service.islogin() " class="btn btn-primary " (click)="addtoCart(dish.dishId,dish.dishName) ">Add to Cart</button>
            <button id="dbtn2" *ngIf="aService.isadminlogin() " class="btn btn-primary " (click)="edit(dish.dishId,dish.dishName) ">Edit This Dish</button>
            <hr>

        </div>
    </div>
</div>
<br><br><br><br><br><br><br>
