#cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* #l1 {
    color: white;
} */

#crd {
    /* height: 0px; */
    color: black;
    margin-bottom: 3%;
    width: 13rem;
    margin-top: 10%;
    /* background: black; */
}


/* #img123 {
    width: 200px;
} */
