<!-- <div style="display: flex;justify-content: center;margin-bottom: 40px;">


    <button type="button" class="btn btn-secondary btn-lg" style="margin: auto;" (onclick)="onclickfun($event)">Show Active Restaurants</button>

</div> -->


<div class="container" id="cont" style="margin-top: 0px; margin-bottom: 25px;   padding-bottom: 15px; padding-top: 10px;">

    <div class="card1" id="crd">
        <img class="card-img-top" id="img123" src="assets/images/img1.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <h2 style="text-align:center;  color: yellow;  " id="l1"><b>Explore restaurants</b> </h2>
            </h5>
            <!-- <p class="card-text" style="text-align: center;font-size: 20px;">Explore restaurants that deliver to your doorstep.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>

    <div class="card1" id="crd">
        <img class="card-img-top" src="assets/images/img2.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <h2 style="text-align: center;color: yellow;  "><b>Build your order </b></h2>
            </h5>
            <!-- <p class="card-text" style="text-align: center;font-size: 20px;">Browse menus and build your order in seconds.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>

    <div class="card1" id="crd">
        <img class="card-img-top" src="assets/images/img3.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <h2>
                    <h2 style="text-align: center;   color: yellow;  "><b>Get food delivered</b></h2>
                </h2>
            </h5>
            <!-- <p class="card-text" style="text-align: center;font-size: 20px;">Follow the status of your order with real-time alerts.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>








</div>
