.container1 {
    background-color: white;
    border-radius: 3%;
    margin-bottom: 50px;
    ;
}

.col-sm-3:hover {
    background-color: rgb(179, 245, 179);
    border: 2px solid rgb(32, 10, 230);
    row-gap: 5px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 0.6s ease;
}

#card789 {
    margin-bottom: 10px;
    background: url('/assets/res5.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 53%;
    margin: auto;
}

.heading {
    color: #ffeb3b;
    border: 6px solid white;
    border-top-right-radius: 67px;
    border-bottom-left-radius: 67px;
    padding-bottom: 15px;
    /* padding-left: 1px;
  padding-right: 1px; */
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    margin-top: 12px;
    margin-bottom: 43px;
    font-size: 73px;
    font-family: 'Bree Serif', serif;
    font-family: 'Righteous', cursive;
    font-family: 'Aclonica', sans-serif;
    font-family: 'DM Serif Text', serif;
    letter-spacing: 1.8px;
}

.job {
    color: #ffeb3b;
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;
    /* border: 3px solid black; */
    text-align: center;
    letter-spacing: 3PX;
}
